.form-wrap {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100vh;
    margin: auto;
    >div {width: 100%;}
}
.form-header {
    height: 54px;
    line-height: 54px;
    color: #fff;
    .column {
        font-size: 16px;
        float: left;
        margin-bottom: 0;
        color: #fff;
    }
    span {
        float: right;
        font-size: 12px;
        opacity: .3;
    }
}